data/* linguist-detectable=false
dist/* linguist-detectable=false
docs/* linguist-detectable=false
test/data/* linguist-detectable=false
data/* linguist-vendored
dist/* linguist-vendored
docs/* linguist-documentation
test/data/* linguist-vendored
/.dependabot export-ignore
/docs export-ignore
/scripts export-ignore
/test/*.js export-ignore
/test/data/*.html export-ignore
/.github export-ignore
/.prettierignore export-ignore
/CODEOWNERS export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/.gitmodules export-ignore
/.gitattributes export-ignore
/.npmignore export-ignore
/.jshintrc export-ignore
/.jshintignore export-ignore
/.editorconfig export-ignore
