# Any change here will affect the distributed archive for Debian and other providers..
data/* linguist-detectable=false
dist/* linguist-detectable=false
docs/* linguist-detectable=false
test/data/* linguist-detectable=false
data/* linguist-vendored
dist/* linguist-vendored
docs/* linguist-documentation
test/data/* linguist-vendored
/docs export-ignore
/scripts export-ignore
/test/*.js export-ignore
/test/data/*.html export-ignore
/.github export-ignore
/.prettierignore export-ignore
/CODEOWNERS export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/.gitmodules export-ignore
/.gitattributes export-ignore
/.npmignore export-ignore
/.jshintrc export-ignore
/.jshintignore export-ignore
/.editorconfig export-ignore
/SECURITY.md export-ignore
/src/*.js export-ignore
/src/merge.php export-ignore
/data export-ignore
/yarn.lock export-ignore
/package.json export-ignore
