/scripts
/data
/dist/merged-raw.json
/test
*.php
/composer.json
/composer.lock
/.prettierignore
/.gitignore
/.gitattributes
/phpcs.xml
/phpunit.xml
/phpstan.neon
/.github
/dist/merged-raw.md
/docs
/vendor
/tmp
/.gitmodules
/build
/schemas
CODEOWNERS
/coverage
/coverage.lcov
/.nyc_output
/.editorconfig
/.jshintrc
/.dependabot
/.git
/williamdes-mariadb-mysql-kbs-*.tar
/.jshintignore
/.phpunit.result.cache
