parameters:
        level: max
        paths:
            - src
            - test
        excludes_analyse:
            - src/merge.php
            - dist/*
            - tmp/*
            - build/*
            - nodes_modules/*
            - vendor/*
